<a href="https://colab.research.google.com/github/MrSaurabh0028/Bca-data-science-projects/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

      **DATA TYPE**
1. Pre-defined function
2. User define**

In [ ]:
x=10
y=20
a="hellow world"
z=x+y
print("code excuted successfully",z)
print(type(x))
print(type(z))
print(a,type(a))
print(a,id(a))
print(a,id(x,))

code excuted successfully 30
<class 'int'>
<class 'int'>
hellow world <class 'str'>
hellow world 136924138471024
hellow world 10751144

** Set,List,Tuple **

In [ ]:
x=[20,10,40,46,550,"amit",20]
print(type(x))
y={54.47,74,45,78,"amit"}
print(type(y))
z=(45,14,47,87,89,48,"amit")
print(type(z))
print(x,id(x))
print(y,id(y))
print(z,id(z))

<class 'list'>
<class 'set'>
<class 'tuple'>
[20, 10, 40, 46, 550, 'amit', 20] 136923698849344
{54.47, 'amit', 74, 45, 78} 136923696708544
(45, 14, 47, 87, 89, 48, 'amit') 136923698897024

**Keyworld Import**

In [ ]:
import keyword
keyword.kwlist
print(keyword.kwlist,end=" ")
len(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

** Pre-define function**
1. addition
2.Sub
3.Multication
4.Devides

In [ ]:
x=int(input("Enter the value of x:"))
y=int(input("Enter the value of y:"))
z=x+y
s=x*y
print("total addition is:",z)
print("Total multi:",s)
A=int(input("Enter the value of A:"))
pi=3.14
area=pi*A
print("area of circle is:",area)

Enter the value of x:20
Enter the value of y:20
total addition is: 40
Total multi: 400
Enter the value of A:4
area of circle is: 12.56

**Conditional Statement**
1.if-statement

2.elif-statement

3.else-statement

In [ ]:
# if-statement:
x=17
y=100
if x>y:
    print(x,"is greater.")
else:
  print(y,"is greater.")
num1=int(input("Enter the value of num1:"))
num2=int(input("Enter the value of num2:"))
if num1>num2:
    print(num1,"is greater.")
elif num1==num2:
    print("Both are equal.")2
else:
    print(num2,"is greater.")

100 is greater.
Enter the value of num1:20
Enter the value of num2:20
Both are equal.

In [ ]:
# positive ,negative number using if statements
x=int(input("Enter a number:"))
if x>0 :
    print(x,"is Positive.")
elif x<0:
    print(x,"is Negative.")
else:
  print(x,"is not positive or negative number.")

In [ ]:
#Even number and odd number using if statements
x=int(input("Enter a number:"))
if x%2==0:
  print(x,"is Even number.")
else:
  print(x,"is Odd number")

Enter a number:5
5 is Odd number

In [ ]:
#compare three numbers using if statements
x=int(input("Enter first number:"))
y=int(input("Enter second number:"))
z=int(input("Enter third number:"))
if x>y and x>z:
    print(x,"is largest")
elif y>x and y>z:
    print(y,"is largest")
else:
    print(z,"is largest")

Enter first number:20
Enter second number:52
Enter third number:56
56 is largest

**Itrative Statement**
1.for-loop

2.while-loop

In [ ]:
for i in"Amit":
  print(i,"code excuted successfully",end="\n")
for i in range(0,100,10):
  i=i-1
  print(i,"code excuted successfully")
  #len(i)

A code excuted successfully
m code excuted successfully
i code excuted successfully
t code excuted successfully
-1 code excuted successfully
9 code excuted successfully
19 code excuted successfully
29 code excuted successfully
39 code excuted successfully
49 code excuted successfully
59 code excuted successfully
69 code excuted successfully
79 code excuted successfully
89 code excuted successfully

Resivion class 5

1.Note== **indetation==space**

2.**doublee == is used to compare two objects**

In [ ]:
x=-78
if x>0:
  print("positive number:",x)
else:
  print("negative number:",x)

#user-define:
x=int(input("Enter a number"))
if x>0:
  print(x,"is positive number")
elif x==0:
  print(x,"is not a negative or positive number")
else:
  print(x,"is negative number:")

negative number: -78
Enter a number-20
-20 is negative number:

In [ ]:
x=float(input("Enter a number:"))
if x%2==0:
  print(x,"is even number.")
else:
  print(x,"is odd number.")

Enter a number:4987
4987.0 is odd number.

In [ ]:
x=int(input("Enter first number:"))
y=int(input("Enter second number:"))
z=int(input("Enter third number:"))
if x>y and x>z:
  print(x,"is greater number.")
elif y>z and y>x:
  print(y,"is greater number.")
elif x==y==z:
  print("all are equal")
else:
  print(z,"is grater number.")

Enter first number:2
Enter second number:2
Enter third number:2
all are equal

** Loop **

**1.for loop**

**2.while loop**

In [ ]:
for i in "amit":
  print(i,end="")

for i in range (5):
  print(i,end="")

#print odd number
z=0
for i in range(1,100,2):
  print(i,end=" ",)
  print()
for i in range (100):
  print("hello",end=" ")

amit012341
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello

**for loop**

In [ ]:
for i in range (-12,-7):
  for j in range(-3,2):
    print("A",end=" ")
  print("B")

A A A A A B
A A A A A B
A A A A A B
A A A A A B
A A A A A B



**1.while loop**

In [ ]:
x=20
while x<30:
  print("x",end=" ")
  x=x+1

x x x x x x x x x x

In [ ]:
#for loop & if statements:
for i in range(5):
  if i==3:
   print("A")
  else:
   print("B")

B
B
B
A
B

In [ ]:
pin=4567
cb=10500
for i in range(3):
  p=int(input("Enter pin number:"))
  if (p==pin):
    print("correct pin")
    wb=int(input("Enter amount:"))
    if(cb>wb):
      cb=cb-wb
      print("Transection successful.")
    else:
      print("Insufficient balance")

    break
  else:
    print("Incorrect pin number")
else:
    print("card block")

Enter pin number:12345
Incorrect pin number
Enter pin number:123478
Incorrect pin number
Enter pin number:4567
correct pin
Enter amount:2000
Transection successful.

In [ ]:
p=123
cb=10000
for i in range(1):
  pin=int(input("Enter pin number:"))
  if p==pin:
    print("correct pin.")
    wb=int(input("Enter amount to Withdraw:"))
    if(cb>wb):
     cb=cb-wb
    print("transition successful.")
    print("remaining amount:",cb)

    break
  else:
    print("incorrect pin")
else:
  print("Card block")

Enter pin number:144
incorrect pin
Card block

                             **List**

In [8]:
x=[20,60,41,41,"Amit",51,451,54]
print(x)
print(x[4])

[20, 60, 41, 41, 'Amit', 51, 451, 54]
Amit

In [19]:
x=[10,20,30,40,50,60]
x.append(100)         #last me add karta haii object kooo.
x.insert(1,452)       #add poisiton wise/inexing wise object allocation
for i in x:
  print(i,"A")

10 A
452 A
20 A
30 A
40 A
50 A
60 A
100 A

In [28]:
  #Slicing operator
x=[10,20,30,40,50,60,70,80,90,100]
x[2:7]
x[1:9:2]

[20, 40, 60, 80]

      Question
1) sum of digits

2) sum of odd digits

3) reverse number

4) lcm/hcf

5) prime number

6) fibonaccci number

In [13]:
#  Tupple
t=(12,14,45,54,78,54,45)
print(type(t))

t3=(45)
print(type(t3))

t4=(912,)
print(type(t4))

<class 'tuple'>
<class 'int'>
<class 'tuple'>