<a href="https://colab.research.google.com/github/MrSaurabh0028/Bca-data-science-projects/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

      **DATA TYPE**
1. Pre-defined function
2. User define**

In [ ]:
x=10
y=20
a="hellow world"
z=x+y
print("code excuted successfully",z)
print(type(x))
print(type(z))
print(a,type(a))
print(a,id(a))
print(a,id(x,))

code excuted successfully 30
<class 'int'>
<class 'int'>
hellow world <class 'str'>
hellow world 136924138471024
hellow world 10751144

** Set,List,Tuple **

In [ ]:
x=[20,10,40,46,550,"amit",20]
print(type(x))
y={54.47,74,45,78,"amit"}
print(type(y))
z=(45,14,47,87,89,48,"amit")
print(type(z))
print(x,id(x))
print(y,id(y))
print(z,id(z))

<class 'list'>
<class 'set'>
<class 'tuple'>
[20, 10, 40, 46, 550, 'amit', 20] 136923698849344
{54.47, 'amit', 74, 45, 78} 136923696708544
(45, 14, 47, 87, 89, 48, 'amit') 136923698897024

**Keyworld Import**

In [ ]:
import keyword
keyword.kwlist
print(keyword.kwlist,end=" ")
len(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

** Pre-define function**
1. addition
2.Sub
3.Multication
4.Devides

In [ ]:
x=int(input("Enter the value of x:"))
y=int(input("Enter the value of y:"))
z=x+y
s=x*y
print("total addition is:",z)
print("Total multi:",s)
A=int(input("Enter the value of A:"))
pi=3.14
area=pi*A
print("area of circle is:",area)

Enter the value of x:20
Enter the value of y:20
total addition is: 40
Total multi: 400
Enter the value of A:4
area of circle is: 12.56

**Conditional Statement**
1.if-statement
2.elif-statement
3.else-statement

In [ ]:
# if-statement:
x=17
y=100
if x>y:
    print(x,"is greater.")
else:
  print(y,"is greater.")
num1=int(input("Enter the value of num1:"))
num2=int(input("Enter the value of num2:"))
if num1>num2:
    print(num1,"is greater.")
elif num1==num2:
    print("Both are equal.")2
else:
    print(num2,"is greater.")

100 is greater.
Enter the value of num1:20
Enter the value of num2:20
Both are equal.

In [ ]:
# positive ,negative number using if statements
x=int(input("Enter a number:"))
if x>0 :
    print(x,"is Positive.")
elif x<0:
    print(x,"is Negative.")
else:
  print(x,"is not positive or negative number.")

Enter a number:0
0 is not positive or negative number.

In [ ]:
#Even number and odd number using if statements
x=int(input("Enter a number:"))
if x%2==0:
  print(x,"is Even number.")
else:
  print(x,"is Odd number")

Enter a number:5
5 is Odd number

In [ ]:
#compare three numbers using if statements
x=int(input("Enter first number:"))
y=int(input("Enter second number:"))
z=int(input("Enter third number:"))
if x>y and x>z:
    print(x,"is largest")
elif y>x and y>z:
    print(y,"is largest")
else:
    print(z,"is largest")

Enter first number:78
Enter second number:5
Enter third number:2
78 is largest

**Itrative Statement**
1.for-loop
2.while-loop

In [ ]:
for i in"Amit":
  print(i,"code excuted successfully",end="\n")
for i in range(0,100,10):
  i=i-1
  print(i,"code excuted successfully")
  #len(i)

A code excuted successfully
m code excuted successfully
i code excuted successfully
t code excuted successfully
-1 code excuted successfully
9 code excuted successfully
19 code excuted successfully
29 code excuted successfully
39 code excuted successfully
49 code excuted successfully
59 code excuted successfully
69 code excuted successfully
79 code excuted successfully
89 code excuted successfully