<a href="https://colab.research.google.com/github/MrSaurabh0028/Bca-data-science-projects/blob/main/R_language_r.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

R Languages

In [ ]:
print("Hello")
x<-"How are"
print(x)
cat("you","\n")
# addition
x<-10
y<-20
cat("sum is:",x+y,"\n")
#muti
a<-20
b<-5
cat("muti is:",a*b)
#User-define
a<-as.numeric(readline("Enter first number:"))
b<-as.numeric(readline("Enter second number:"))
cat("total multiply:",a*b)

[1] "Hello"
[1] "How are"
you
sum is: 30
muti is: 100Enter first number:4
Enter second number:5
total multiply: 20

 **1) if and else statements**

In [ ]:
a<-100
b<-52
if(a>b){
 cat(a,"is greater.")
}else{
cat(b,"is greater.")
}
#user define
cat("\n")
a<-as.numeric(readline("Enter first number:"))
b<-as.numeric(readline("Enter second number:"))
if(a>b){
  cat(a,"is greater.")
}else if(a==b){
  cat("both are qural.")
}else{
  cat(b,"is grater.")
}

100 is greater.
Enter first number:20
Enter second number:20
both are qural.

In [ ]:
#3 user input
a<-as.numeric(readline("Enter first number:"))
b<-as.numeric(readline("Enter second number:"))
c<-as.numeric(readline("Enter third number:"))
if(a>b && a>c){
  cat(a,"is greater.")
}else if(b>a && b>c){
  cat(b,"is greater.")
}else if(a==b && b==c && c==a){
  cat("all are equal.")
}else{
  cat(c,"is greater.")
}

Enter first number:2
Enter second number:2
Enter third number:2
all are equal.

In [ ]:
# positive aur negative number
a<--20
if(a>0){
  cat(a,"is positive number.")
}else{
  cat(a,"is negative number.")
}
#user input
cat("\n")
first<-as.numeric(readline("Enter a number:"))
if(first>0){
  cat(first,"is positive number.")
}else if(first==0){
  cat(first,"is not positive or negative number.")
}else{
  cat(first,"is negative number.")
}

-20 is negative number.
Enter a number:0
0 is not positive or negative number.

In [2]:
#student matrks (If else)
std<-as.numeric(readline("Enter your marks 1 to 100:"))
if(std>100){
  cat("invalid number.")
}else if(std>=85){
 cat("Grade: A")
}else if(std>=75){
  cat("Grade B.")
}else if(std>=65){
  cat("grade c.")
}else if(std>=1){
  cat("fail.")
}

Enter your marks 1 to 100:85
Grade: A

In [13]:
# ager related (if else)
age<-as.numeric(readline("Enter age between 0 to 85:"))
if(age>85){
  cat("invalid age.")
}else if(age>=60){
  cat("Senior Citizen.")
}else if(age>=20){
  cat("Adult.")
}else if(age>=13){
  cat("Teen age.")
}else{
  cat("child.")
}

Enter age between 0 to 85:86
invalid age.

In [53]:
#check even number and it divisible by 5.
a<-as.numeric(readline("Enter a number:"))
if(a%%2==0){
  cat("even number.","\n")
   if(a%%5==0){
    cat("divisible by 5.")
   }else{
    cat("not divisibl by 5.")
   }
}else{
  cat("odd number")
}

Enter a number:420
even number.
divisible by 5.

***For Loop***

In [91]:
#print 1 to 10(for loop)
for(i in 1:10)
cat(i,"\n")
# Even or odd number using(for loop)
for(i in 1:50){
 if(i%%2==0){
  cat(i,"even number","\n")
 }else{
  cat(i,"odd number.")
 }
}

1 odd number.2 even number
3 odd number.4 even number
5 odd number.6 even number
7 odd number.8 even number
9 odd number.10 even number
11 odd number.12 even number
13 odd number.14 even number
15 odd number.16 even number
17 odd number.18 even number
19 odd number.20 even number
21 odd number.22 even number
23 odd number.24 even number
25 odd number.26 even number
27 odd number.28 even number
29 odd number.30 even number
31 odd number.32 even number
33 odd number.34 even number
35 odd number.36 even number
37 odd number.38 even number
39 odd number.40 even number
41 odd number.42 even number
43 odd number.44 even number
45 odd number.46 even number
47 odd number.48 even number
49 odd number.50 even number

In [103]:
#print 1 to 10 and their sum.
sum<-0
for(i in(1:10)){
  sum<-sum+i
}
cat("total sum is:",sum)    # total print lop ke bahar aana padta haiii.

total sum is: 55

In [119]:
#factorial number.
fact<-1
a<-as.numeric(readline("Enter a number:"))
for(i in(1:a)){
 fact<-fact*i
}
cat("total factotial is:",fact)

Enter a number:5
total factotial is: 120

In [5]:
a<-as.numeric(readline("Enter a number:"))
b<-count_digits(a)
cat(b)

Enter a number:1245

ERROR: Error in count_digits(a): could not find function "count_digits"